body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

main {
    flex: 1 0 auto;
}

.pg {
    padding: 50px 100px;
}

.pg h1 {
    font-size: 46px;
    color: #ae5dff;
}

.pg p {
    font-size: 16px;
    line-height: 1.8em;
}

.pg-background-header {
    min-height: 90vh;
    background-image: url(https://static.pexels.com/photos/247791/pexels-photo-247791.png);
    text-align: center;
    color: #fcfdff;
}

.pg-background-header h1, .pg-background-header p {
    margin: 0;
    letter-spacing: 2px;
    font-size: 30px;
}

.pg-background-header h1 {
    padding-top: 32vh;
    letter-spacing: 1px;
    font-size: 74px;
}

nav, footer.page-footer {
    background-color: #27323A;
}

#mobile-menu {
    background-color: #27323A;
}

#mobile-menu li a {
    color: #fcfdff;
}

@media(max-width: 600px) {
    .pg-background-header h1 {
        padding-top: 30vh;
        font-size: 30px;
    }
    .pg-background-header p {
        font-size: 20px;
    }
}

@media(max-height: 570px) {
    .pg-background-header h1 {
        padding-top: 30vh;
        font-size: 30px;
    }
}

@media(max-height: 480px) {
    .pg-background-header h1 {
        padding-top: 20vh;
        font-size: 30px;
    }
}

    